# Exclude large data directory by default

# Exclude all content first
content/*
# Re-include the source directory structure
!content/source/
# Ignore all dictionaries inside source (default behavior)
content/source/*
# Explicitly Whitelist the Oxford Dictionary 10th
!content/source/Oxford_Advanced_Learners_Dictionary_10th/

sound/

# Exclude git metadata
.git
.github
.gitignore

# Exclude temp files
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
flask_mdict.db
flask_mdict_wfd.db
my-flask-mdict.xml
