# Exclude large data directory by default
# Exclude large data directory by default
content/*
!content/source/

sound/

# Exclude git metadata
.git
.github
.gitignore

# Exclude temp files
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
flask_mdict.db
flask_mdict_wfd.db
my-flask-mdict.xml
